@import url('./index.css');

.testNameSc .testNameTitleAndBulletCnt h4{
    color: var(--primary-blackclr);
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    border-bottom: 1px solid #4A4A4A;
    margin-bottom: 38px;
    margin-top: 44px;
}
.testNameSc .testNameTitleAndBulletCnt h4 span{
    color: var(--primary-headingclr);
}
.testNameSc .pointerBulletsCnt .bulletTitleCnt{
    display: flex;
    align-items: center;
    gap: 10px;
}
.testNameSc .pointerBulletsCnt .bulletTitleCnt p{
    color: var(--primary-headingclr);
    font-size: 16px;
    font-weight: 600;
    line-height: 114%;
}
.testNameSc .pointerBulletsCnt .bulletCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px;
    background-color: var(--primary-white);
    border-radius: 12px;
    border: 1px solid #EDE8E8;
    gap: 8px;
}
.testNameSc .pointerBulletsCnt .bulletCard p{
    color: var(--primary-headingclr);
    font-size: 18px;
    font-weight: 500;
    line-height: 158%;
}
.testNameSc .pointerBulletsCnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}
.testNameSc .intructionCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 18px;
    margin-bottom: 48px;
}
.testNameSc .intructionCards .cards{
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: #FAFAFA;
    border-radius: 16px;
    padding: 15px 20px;
}
.testNameSc .intructionCards .cards span{
    color: var(--primary-white);
    font-size: 16px;
    font-weight: 700;    
    padding: 16px 19px;
    border-radius: 50px;
}
.testNameSc .intructionCards .cards .one{
    background-color: #EC2434;
}
.testNameSc .intructionCards .cards .two{
    background-color: #3F34A1;
}
.testNameSc .intructionCards .cards .three{
    background-color: #1E9397;
}
.testNameSc .intructionCards .cards .four{
    background-color: #007AB9;
}
.testNameSc .instructionsCnt .playFairHeading{
    color: #1D1D1D;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 22px;
    border: none;
    margin-top: 0;
}
.testNameSc .instructionsCnt{
    background-color: var(--primary-white);
    border-radius: 42px;
    padding: 26px 48px;
    margin-bottom: 68px;
    -webkit-box-shadow: 12px 8px 21px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 12px 8px 21px 0px rgba(0,0,0,0.1);
    box-shadow: 12px 8px 21px 0px rgba(0,0,0,0.1);
}
.testNameSc .instructionsCnt ul li{
    color: #242424;
    font-size: 16px;
    line-height: 158%;
}
.testNameSc .instructionsCnt ul li span{
    color: #0D76FF;
}
.testNameSc .instructionsCnt ul li::marker {
  color: #28256F;
}
.testNameSc .instructionsCnt ul li:not(:last-child){
    margin-bottom: 15px;
}
.testNameSc .instructionsCnt ul{
    margin-bottom: 28px;
}
.testNameSc .intructionCards .cards p{
    color: #2C2B2B;
    font-size: 16px;
    line-height: 158%;
}
.testNameSc .instructionsCnt .readMoreBtnCnt{
    text-align: center;
}
.testNameSc .instructionsCnt .readMoreBtnCnt .readMoreBtn{
    color: var(--primary-white);
    font-size: 16px;
    line-height: 158%;
    padding: 10px 52px;
    border-radius: 12px;
    background-color: #06435D;
}
.testNameSc .testNameTitleAndBulletCnt label input {
    width: 24px;
    height: 24px;
    accent-color: #2AB514;
}
.testNameSc .testNameTitleAndBulletCnt label{
    color: #454444;
    font-size: 16px;
    font-weight: 700;
    line-height: 158%;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.testNameSc .stTestNowBtn{
    background-color: #06435D;
    color: var(--primary-white);
    padding: 10px 24px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.testNameSc .stTestNowBtnCnt{
    text-align: center;
    padding-bottom: 72px;
}
.demoCardCnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFEFE;
    border-radius: 42px;
    padding: 50px 100px 50px 38px;
    -webkit-box-shadow: 12px 8px 21px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 12px 8px 21px 0px rgba(0,0,0,0.1);
    box-shadow: 12px 8px 21px 0px rgba(0,0,0,0.1);
    margin-bottom: 60px;
    position: relative;
}
.demoCardCnt p{
    color: #242424;
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
}
.demoCardCnt button{
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    background-color: #06435D;
    color: var(--primary-white);
    padding: 10px 24px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border: none;
}
.demoCardCnt .arrowDecor,.bulbDecor,.curveDecor{
    position: absolute;
}
.demoCardCnt .arrowDecor{
    right: 24%;
    top: 12%;
}
.demoCardCnt .bulbDecor{
    top: -32%;
    right: 0%;
}
.demoCardCnt .curveDecor{
    bottom: 0%;
    right: 0%;
}

@media screen and (max-width: 1199.9px){
    .testNameSc .pointerBulletsCnt{
        flex-wrap: wrap;
        row-gap: 16px;
        justify-content: flex-start;
        column-gap: 16px;
    }
    .demoCardCnt .curveDecor{
        z-index: -1;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.9px){
    .demoCardCnt{
        padding: 50px 28px 50px 28px;
    gap: 14px;
    }
    .demoCardCnt .arrowDecor {
    right: 20%;
    top: 8%;
}
}
@media screen and (min-width: 768px) and (max-width: 991.9px){
    .demoCardCnt{
        padding: 50px 28px 50px 28px;
    gap: 14px;
    }
    .demoCardCnt .arrowDecor{
        top: 3%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767.9px){
    .testNameSc .instructionsCnt{
        padding: 26px 28px;
    }
    .testNameSc .intructionCards{
        grid-template-columns: repeat(1, 1fr);
    }
    .demoCardCnt{
        padding: 50px 28px 50px 28px;
    gap: 14px;
    }
    .demoCardCnt .arrowDecor {
    top: 8%;
}
.demoCardCnt .bulbDecor {
    top: -22%;
}
}
@media screen and (max-width: 575.9px){
    .testNameSc .instructionsCnt{
        padding: 20px;
    }
    .testNameSc .intructionCards{
        grid-template-columns: repeat(1, 1fr);
    }
    .demoCardCnt{
        padding: 50px 28px;
    gap: 14px;
    flex-direction: column;
    }
    .demoCardCnt .arrowDecor {
    top: 8%;
    display: none;
}
.demoCardCnt .bulbDecor {
    top: -16%;
}
.testNameSc .instructionsCnt .playFairHeading{
    font-size: 24px;
    margin-bottom: 8px;
}
.testNameSc .testNameTitleAndBulletCnt h4{
    font-size: 28px;
    line-height: 46px;
    margin-top: 34px;
}
}