/* Playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
.playFairHeading{
    font-family: "Playfair Display", serif;
}
:root{
    --primary-headingclr:#014751;
    --primary-blackclr:#000000;
    --discription-color:#3A3E41;
    --primary-white:#ffffff;
}
/* Dropdown container */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown button {
      padding: 10px 16px;
      border: none;
      background: #B31F1A;
background: linear-gradient(0deg, rgba(179, 31, 26, 1) 0%, rgba(208, 43, 37, 1) 100%);
      color: #fff;
      cursor: pointer;
      border-radius: 12px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      z-index: 1;
    }

    .dropdown-content a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #333;
    }

    .dropdown-content a:hover {
      background-color: #eee;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Header */
    header{
         border-top: 5px solid #D52D27;
         padding: 8px 0px;
    }
    header section .headerCnts{
        display: flex;
        align-items: center;
        justify-content: space-between;       
    }

    /* Hero Section */
    .heroSc .herohd{
        color: var(--primary-headingclr);
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 12px;
        text-align: center;
        margin-top: 30px;
    }
    .heroSc .heroDes{
        color: var(--discription-color);
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 28px;
    }
    .heroSc .IATcnt{
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }
    .heroSc .herocommonBoxShadow{
        -webkit-box-shadow: 32px 32px 124px 0px rgba(43,56,76,0.2);
        -moz-box-shadow: 32px 32px 124px 0px rgba(43,56,76,0.2);
        box-shadow: 32px 32px 124px 0px rgba(43,56,76,0.2);
        padding: 22px 20px;
        border-radius: 12px;
        background-color: var(--primary-white);
    }
    .heroSc .herocommonBoxShadow h4{
        color: var(--primary-headingclr);
        font-size: 18px;
        font-weight: 700;
        line-height: 114%;
        margin-bottom: 8px;
    }
    .heroSc .herocommonBoxShadow p{
        color: var(--discription-color);
        font-size: 14px;
        line-height: 158%;
        margin: 0;
    }
     .heroSc .RFTcnt{
        display: flex;
        align-items: flex-start;
        gap: 24px;
        height: 100%;
    }
    .heroSc .hdRowOne{
        margin-bottom: 46px;
    }
    .heroSc .cdHd.playFairHeading{
        color: var(--primary-white);
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 18px;
        text-align: center;
    }
    .heroSc .declarationCards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        gap: 28px;
        margin-bottom: 22px;
    }
    .heroSc .declarationCards .cdcard{
        background-color: var(--primary-white);
        border: 1px solid #D8D4D4;
        padding: 15px;
        border-radius: 12px;
        height: 100%;
    }
    .heroSc .cdCnt{
        background: #029EEA;
        background: linear-gradient(0deg, rgba(2, 158, 234, 1) 0%, rgba(9, 137, 137, 1) 100%);
        padding: 14px 40px 28px 40px;
        border-radius: 42px;
        margin-bottom: 42px;
    }
    .heroSc .declarationCards .cdcard span{
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 56px;
        border: 1px solid #E9E9E9;
        background-color: #F5F5F5;
        padding: 8px;
        margin-bottom: 14px;
    }
    .heroSc .declarationCards .cdcard p{
        margin-bottom: 0;
        margin-top: 14px;
    }
    .heroSc .cdCnt label{
        color: var(--primary-white);
        font-size: 16px;
        font-weight: 700;
        display: flex;
        gap: 10px;
        align-items: flex-start;
    }
    .heroSc .cdCnt label input{
        width: 24px;
        height: 24px;
        accent-color: #2AB514;
    }
    .heroSc .hdRowTwo{
        border-bottom: 4px solid #DFDFDF;
    }
    .netWebSc .netWebCnt h4{
        color: var(--primary-headingclr);
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 12px;
    }
    .netWebSc .netWebCnt h6{
        color: var(--primary-blackclr);
        font-size: 20px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 32px;
    }
    .netWebSc{
        padding-top: 50px;
        background-image: url('./assets/footSecBg\ Img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .netWebSc .introductionCards .cards{
        -webkit-box-shadow: 0px 32px 96px 0px rgba(28,25,25,0.16);
        -moz-box-shadow: 0px 32px 96px 0px rgba(28,25,25,0.16);
        box-shadow: 0px 32px 96px 0px rgba(28,25,25,0.16);
        padding: 32px 28px;
        background-color: #ffffff;
        border-radius: 6px;
    }
    .netWebSc .introductionCards .cards span{
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        background-color: #F2F2F2;
        padding: 12px 16px;
        border-radius: 100px;
    }
    .netWebSc .introductionCards .cards p{
        color: var(--discription-color);
        font-size: 16px;
        margin-bottom: 0;
        line-height: 158%;
    }
    .netWebSc .introductionCards .cards{
        display: flex;
        align-items: center;
        gap: 36px;
        border-left: 5px solid #20FF04;
    }
    .netWebSc .introductionCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 54px;
        margin-bottom: 52px;
    }
    .netWebSc .gTBtnC{
        text-align: center;
        padding-bottom: 40px;
    }
    .netWebSc .getReadybtn{
        background-color: #06435D;
        color: var(--primary-white);
        padding: 10px 24px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;        
    }
    footer{
        border-bottom: 5px solid #D52D27;
    }
    .netWebHeading {
      position: relative;
      padding-left: 15px;
    }
    .netWebHeading::before {
      content: "";
      position: absolute;
      left: 0;
        top: 15%;
      height: 44px;
      width: 6px;
      background-color: #161616; 
    }


    @media screen and (max-width: 991.9px){
        .heroSc .herocommonBoxShadow{
            margin-bottom: 18px;
        }
        .heroSc .RFTcnt{
            height: fit-content;
        }
        .netWebSc .introductionCards{
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
        }
        .heroSc .declarationCards{
            grid-template-columns: repeat(1, 1fr);
            gap: 18px;
        }
    }
    @media screen and (max-width: 575.9px){
        .heroSc .herohd{
            font-size: 28px;
        }
        .greetSpan,.arrowSpan{
            display: none;
        }
        .dropdown button{
            border-radius: 24px;
            padding: 10px 18px;
        }
        header section .headerCnts{
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }